@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

:root {
    --primary: #0EA5E9;
    --primary-dark: #0E7490;
    --accent: #A3E635;

    --bg: #F6FAFD;
    --card-bg: #FFFFFF;

    --text-dark: #0F172A;
    --text-light: #475569;
	--mostused: #081638;

    --success: #22C55E;
    --warning: #FACC15;
    --error: #DC2626;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body{
	background: var(--text-dark);
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: var(--bg);
	font-size: 1.4rem;
	margin-top: 5px;
	margin-bottom: 30px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 800;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #A3E635;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #A3E635;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #A3E635;
}
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 2s all ease;
}
.reveal.active{
	transform: translateY(0);
	opacity: 1;
}

/*=================
  Header section 
===================*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #A3E635;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */


/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
	/*animation: card_reveal 4s both;
	animation-delay: 4s;*/
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
	
}
#services .service-bottom {
	flex-wrap:wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:20px;
	
}

.glass-card {
    width: calc(20% - 20px);    /* 4 per row */
    min-width: 240px;
    height: 250px;
    padding: 20px;

    border-radius: 18px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    transition: transform .3s ease;

}

.glass-card:hover {
    transform: translateY(-8px);
}


/* Medium screens → 3 per row */
@media (max-width: 992px) {
    .glass-card {
        width: calc(33.33% - 20px);
    }
}

/* Tablets → 2 per row */
@media (max-width: 768px) {
    .glass-card {
        width: calc(50% - 20px);
    }
}

/* Mobile → 1 per row */
@media (max-width: 480px) {
    .glass-card {
        width: 100%;
    }
}


/* Default content */
.card-content {
    text-align: center;
    color: white;
}

.card-content img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.card-content h2 {
	color: var(--text-dark);
	font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: 900;
}

/* Sliding hover panel */
.card-hover {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    transition: bottom .4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.glass-card:hover .card-hover {
    bottom: 0;
}

/* Button */
.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #0ea5e9;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.btn:hover {
    background: #0284c7;
}

/* Footer */
#footer {
	background: linear-gradient(60deg, #081638 40%, var(--primary-dark) 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h1 span{
	color: var(--accent);
	font-weight: 900;
}
#footer h2 {
	color: var(--primary);
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer p {
	color: grey;
	font-size: 1.4rem;
	font-weight: 500;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #A3E635;
		font-weight: 500;
	}
}
/*@keyframes card_reveal {
0%{
	opacity: 0;
	transform: translateY(-50px);
}
100% {
	opacity: 1;
	transform: translateY(0);
}
}*/
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
		height: 400px;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #A3E635;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
